# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# macOS
.DS_Store

# Logs
*.log


# File/Folder	Reason
# .venv/	    Don't upload installed packages
# .env	        Keeps API keys secret
# __pycache__/	Python generates these automatically
# .vscode/	    Personal editor settings
# *.log     	Temporary log files